@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    margin: 0;
    font-family: Outfit;
    font-size: 18px;
}

button,
input {
    font-family: Outfit;
    border: none;
    outline: none;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-right: 41px;
}

.menu-item {
    margin-right: 48px;
}

.menu-btn {
    color: white;
    font-size: 18px;
    background-color: #FE8205;
    padding: 8px 20px;
    height: 40px;
    border: none;
}

.section-one {
    display: flex;
    flex-direction: row;
    padding: 75px 0 0 0;
    background-color: #0198A5;
    width: 99.vw;
    margin: 0 -100px;
    color: white;
}

.section-one-text h1 {
    font-size: 96px;
    width: 45vw;
    margin: 0 0 20px 100px;
}

.section-one-text p {
    width: 40vw;
    margin: 0 0 0 100px;
}

.search-card {
    position: relative;
    background-color: #fff;
    padding: 40px 50px;
    width: 80vw;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.06);
    margin: -145px 0 140px 0;
}

.search-card h2 {
    margin: 0;
}

.search-card-main {
    display: flex;
    justify-content: space-between;
}

.search-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search-card-header h1 {
    font-size: 24px;
}

.selections {
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-card-selection-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.search-card-selection-item-txt {
    color: #8FA194;
    margin: 0 0 0 10px;
}

.search-card-selection-item-txt:hover {
    color: #0198A5;
}

.search-card-your-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20vw;
    border: 1px solid #8d909a79;
}

.search-card-your-info-item-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 16px;
}

.search-card-your-info-item-txt p {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #8FA194;
}

.search-card-your-info-item-txt input::placeholder {
    color: black;
}

.search-card-your-info {
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-card-main-btn {
    background-color: #FE8205;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.search-card-main-btn p {
    color: white;
}

.section-two {
    margin: 0 -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two-main-text {
    color: white;
}

.section-two-main-text h1 {
    font-size: 48px;
    margin: 0 0 27px 0;
}

.section-two-main {
    background-color: #0198A5;
    width: 99.vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
}

.section-two-aside {
    background-color: white;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.06);
    padding: 30px 0;
    margin: -184px 0 136px 272px;
}

.section-two-aside-list {
    width: 40vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-two-aside-list-item {
    width: 20vw;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.section-two-aside-list-item p {
    margin: 0 0 0 12px;
}

.book-an-appointment {
    color: white;
    background-color: #FE8205;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-weight: 600;
}

.section-two-aside button {
    margin-top: 65px;
}

.section-four-main-txt button {
    margin-top: 40px;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-three h1 {
    width: 60vw;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    margin: 0 0 60px 0;
    text-align: center;
}

.section-three-carousel {
    width: 85vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-three-carousel-item {
    transition: 800ms;
    width: 27vw;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.06);
    padding: 30px 30px 35px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-three-carousel-item h3 {
    font-size: 24px;
    margin: 20px 0;
}

.section-three-carousel-item p {
    text-align: center;
    color: #5A7678;
    margin-bottom: 80px;
}

.section-three-carousel-item button {
    border: 1px solid #FE8205;
    color: #FE8205;
    padding: 13px 37px;
    background-color: white;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
}

.section-three-carousel-item:hover {
    background-color: #0198A5;
    color: white;
}

.section-three-carousel-item:hover p {
    color: white;
}

.section-three-carousel-item:hover button {
    border: none;
}

.section-three-carousel-directions {
    display: flex;
    flex-direction: row;
}

.section-four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 144px;
}

.section-four-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-four-main-txt {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 183px;
}

.section-four-main-txt-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 23px 0;
}

.section-four-main-txt-item h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
}

.section-four-main-txt-item p {
    font-style: 16px;
    margin: 0 12px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
}

.section-four-aside{
    align-items: end;
    display: flex;
    justify-content: end;
    position: relative;
    flex-direction: column;
    width: 40vw;
    margin-top: -500px;
}

.section-four-aside-txt {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px;
    background-color: white;
    box-shadow: 0px 7.78125px 33.7188px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.section-four-aside-txt h3 {
    margin: 0 0 0 17px;
    font-size: 18px;
}

.section-four-aside-list {
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px;
    background-color: white;
    box-shadow: 0px 7.78125px 33.7188px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.section-four-aside-list h3 {
    margin: 0 0 17px 0;
    font-size: 18px;
}

.section-four-aside-list img {
    cursor: pointer;
}

.section-five {
    display: flex;
    flex-direction: column;
    margin: 184px 0 150px 0;
}

.section-five-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-five-content-txt {
    margin: 100px 0 0 -50px;
    width: 55vw;
    padding: 36px 100px 28px 30px;
    background-color: #0198A5;
}

.section-five-content-txt p {
    margin: 0;
    color: white;
}

.section-five-content-txt h3 {
    color: white;
    margin-bottom: 6px;
}

.section-five-directions{
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.deg{
    margin-left: 10px;
    transform: rotate(180deg);
}

.section-three-carousel-directions{
    margin-top: 15px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subscribe-content {
    width: 60vw;
    height: 25vw;
    margin-bottom: 35px;
    background-color: #1C3E48;
}

.subscribe-content h3 {
    color: white;
    font-size: 32px;
    width: 35vw;
    text-align: center;
    margin: 0 0 40px 0;
}

.subscribe-content-your-info {
    width: 38vw;
    height: 5vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.subscribe-content-your-info input {
    border: none;
    height: 4vw;
    width: 90%;
}

.subscribe-content-your-info button {
    font-weight: 700;
    padding: 12px 25px;
    background-color: #FE8205;
    color: white;
    border: none;
}

.logo{
    cursor: pointer;
}

.footer-nav-menu {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-menu-item{
    cursor: pointer;
}

.social-medias {
    margin: 25px 0;
    width: 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-medias img:hover{
    cursor: pointer;
}

hr {
    width: 100vw;
    margin: 0 0 0 -19px;
}